<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/events">Events</a></h1>
  <h3><a href="/events">Back</a></h3>
  <hr>
  <form action="/events" method="post">

    <label for="name">name: </label>
    <input type="text" name="name">

    <br><br>

    <label for="date">date: </label>
    <input type="text" name="date">

    <br><br>

    <label for="time">time: </label>
    <input type="text" name="time">

    <br><br>

    <label for="description">description: </label>
    <input type="text" name="description">

    <br><br>

    <label for="venue_id">venue_id: </label>
    <input type="text" name="venue_id">

    <br><br>

    <button>Create</button>
  </form>
  <hr>
</body>
</html>