<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/events_presenters">Events_Presenters</a></h1>
  <h3><a href="/events_presenters">Back</a></h3>
  <hr>
  <form action="/events_presenters" method="post">

    <label for="event_id">event_id: </label>
    <input type="text" name="event_id">

    <br><br>

    <label for="presenter_id">presenter_id: </label>
    <input type="text" name="presenter_id">

    <br><br>

    <button>Create</button>
  </form>
  <hr>
</body>
</html>