<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/payment" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <div class="form-row">
      <label>
        <span>Name on Card</span>
        <input type="text" size="20" data-stripe="name">
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number" maxlength="16">
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YY)</span>
        <input type="text" size="2" data-stripe="exp_month" maxlength="2">
      </label>
      <span> / </span>
      <input type="text" size="2" data-stripe="exp_year" maxlength="2">
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc" maxlength="3">
      </label>
    </div>

    <!-- <div class="form-row">
      <label>
        <span>Billing Postal Code</span>
        <input type="text" size="6" data-stripe="address_zip">
      </label>
    </div> -->

    <input type="submit" class="submit" value="Submit Payment">
  </form>

  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%=stripeTestPK%>');
  </script>
  <script src="/payment.js"></script>
</body>
</html>
