<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/authenticate" method="post">
    <label for="email">Email</label>
    <input type="text" name="email">
    <br>
    <label for="password">password</label>
    <input type="text" name="password">
    <button>submit</button>
  </form>

  <a class="check" href="/"><p>check</p></a>

  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="/hello.js"></script>
</body>
</html>

