<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p><a href="/logout">logout</a></p>
  <% table_names.forEach(function(name) { %>
    <h2><a href="/tables/<%= name %>"><%= name %></a></h2>
  <% }) %>
</body>
</html>
