<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/events_users">Events_Users</a></h1>
  <h3><a href="/events_users">Back</a></h3>
  <hr>
  <form action="/events_users" method="post">

    <label for="event_id">event_id: </label>
    <input type="text" name="event_id">

    <br><br>

    <label for="user_id">user_id: </label>
    <input type="text" name="user_id">

    <br><br>

    <button>Create</button>
  </form>
  <hr>
</body>
</html>