<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/presenters">Presenters</a></h1>
  <h3><a href="/presenters">Back</a></h3>
  <hr>
  <form action="/presenters" method="post">

    <label for="first_name">first_name: </label>
    <input type="text" name="first_name">

    <br><br>

    <label for="last_name">last_name: </label>
    <input type="text" name="last_name">

    <br><br>

    <label for="company">company: </label>
    <input type="text" name="company">

    <br><br>

    <label for="title">title: </label>
    <input type="text" name="title">

    <br><br>

    <label for="email">email: </label>
    <input type="text" name="email">

    <br><br>

    <button>Create</button>
  </form>
  <hr>
</body>
</html>