<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/presenters">Presenters</a></h1>
  <h3><a href="/presenters">Back</a></h3>
  <hr>
  <% Object.keys(presenter).forEach(function(key) { %>
    <p><%= key %>: <%= presenter[key] %></p>
  <% }) %>
  <a href="/presenters/<%= presenter.id %>/edit"><button>Edit</button></a>
  <form action="/presenters/<%= presenter.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>
  <hr>
</body>
</html>